<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <!--<connectionStrings>
        <add name="Login_User.Properties.Settings.dbNETConnectionString"
            connectionString="Data Source=INFOSMC\SQLEXPRESS;Initial Catalog=dbNET;Integrated Security=True;Pooling=False;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Login_User.Properties.Settings.dbCSharpConnectionString"
            connectionString="Data Source=INFOSMC;Initial Catalog=dbCSharp;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>-->    
	
	<connectionStrings>
        <add name="Login_User.Properties.Settings.dbNETConnectionString"
            connectionString="Data Source=INFOSMC\SQLEXPRESS;Initial Catalog=dbNET;Integrated Security=True;Pooling=False;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Login_User.Properties.Settings.dbCSharpConnectionString"
            connectionString="data source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\dbCSharp.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>